# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Environment Variables (IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Vercel
# =========================
.vercel

# =========================
# Python Build Files
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
